In [1]:
# Background: The folder Stocks.zip contains nearly 300 files, each including daily data for
# a specific stock, with stock ticker symbol given in the file name. Each observation includes 
# the following:
#      Date = date information recorded
#      Open = opening stock price
#      High = high stock price
#      Low = low stock price
#      Close = closing stock price
#      Volume = number of shares traded
#      Adj Close = closing price adjusted for stock splits (ignored for this assignment)
# The time interval covered varies from stock to stock. There are some missing records, so the
# data is incomplete. Note that some dates are not present because the exchange is closed on 
# weekends and holidays. Those are not missing records. Answer the questions below based on 
# the data available in the files.

# 1. Find the mean for the Open, High, Low, and Close entries for all of the records taken as 
# a single group.

In [24]:
import pandas as pd
import numpy as np
import glob



filelist = glob.glob('*.csv') 

df = pd.DataFrame()

tickers = []
for i in range(len(filelist)):
    tickers.append(filelist[i].split('.csv')[0])

tickers

x=0
for f in filelist:
    newdf = pd.read_csv(f)
    newdf['ticker'] = tickers[x]
    x += 1
    df = pd.concat([df,newdf])

df

nums = df.loc[:,'Open':'Close']
nums.mean(axis=0)
'''
#1
Open     50.863852
High     51.459412
Low      50.253368
Close    50.876482
dtype: float64
'''

,Date,Open,High,Low,Close,Volume,Adj Close,ticker
0,2014-12-31,15.850000,16.030001,15.770000,15.790000,8842400,15.515961,AA
1,2014-12-30,15.730000,15.930000,15.630000,15.850000,9262100,15.574920,AA
2,2014-12-29,15.840000,15.960000,15.730000,15.820000,7087800,15.545440,AA
3,2014-12-26,15.880000,15.930000,15.780000,15.820000,6355200,15.545440,AA
4,2014-12-24,15.770000,15.840000,15.560000,15.770000,4944200,15.496309,AA
5,2014-12-23,15.800000,15.980000,15.670000,15.730000,10533100,15.457002,AA
6,2014-12-22,15.970000,15.990000,15.480000,15.740000,17146800,15.466829,AA
7,2014-12-19,15.780000,16.040001,15.730000,15.940000,20169800,15.663358,AA
8,2014-12-18,15.480000,15.790000,15.360000,15.780000,29453400,15.506135,AA
9,2014-12-17,14.580000,15.070000,14.490000,15.050000,26490100,14.788804,AA
10,2014-12-16,15.040000,15.210000,14.410000,14.430000,29374200,14.179565,AA
11,2014-12-15,15.060000,15.290000,14.900000,14.930000,25730200,14.670887,AA
12,2014-12-12,15.020000,15.290000,14.850000,14.870000,19144700,14.611928,AA
13,2014-12-11,15.630000,15.730000,15.110000,15.160000,20294600,14.896895,AA
14,2014-12-10,15.980000,16.170000,15.580000,15.630000,18394900,15.358738,AA
15,2014-12-09,15.920000,16.180000,15.750000,16.040001,22649300,15.761623,AA
16,2014-12-08,16.900000,16.959999,16.230000,16.290001,21994200,16.007285,AA
17,2014-12-05,17.360001,17.389999,16.910000,16.950001,16320500,16.655830,AA
18,2014-12-04,17.330000,17.450001,17.150000,17.240000,13714700,16.940796,AA
19,2014-12-03,17.309999,17.410000,17.160000,17.209999,16259400,16.911316,AA
20,2014-12-02,17.120001,17.370001,17.059999,17.299999,13498600,16.999754,AA
21,2014-12-01,17.400000,17.420000,17.000000,17.139999,13324600,16.842531,AA
22,2014-11-28,17.580000,17.590000,17.160000,17.290001,8815900,16.989929,AA
23,2014-11-26,17.459999,17.600000,17.250000,17.600000,9140400,17.294549,AA
24,2014-11-25,17.299999,17.660000,17.270000,17.370001,14535000,17.068541,AA
25,2014-11-24,17.500000,17.610001,17.160000,17.219999,12943900,16.921143,AA
26,2014-11-21,17.520000,17.750000,17.330000,17.450001,20683800,17.147152,AA
27,2014-11-20,16.570000,17.180000,16.530001,17.120001,13583500,16.822880,AA
28,2014-11-19,17.129999,17.129999,16.620001,16.690001,15860300,16.400342,AA
29,2014-11-18,16.820000,17.209999,16.820000,17.160000,14723500,16.862185,AA
...,...,...,...,...,...,...,...,...
492,2013-03-15,34.700001,34.840000,33.310001,33.439999,2692100,32.495590,ZTS
493,2013-03-14,34.330002,35.419998,34.299999,34.639999,1865200,33.661701,ZTS
494,2013-03-13,33.900002,34.060001,33.080002,34.000000,2240800,33.039776,ZTS
495,2013-03-12,34.119999,34.240002,33.599998,33.820000,1557600,32.864860,ZTS
496,2013-03-11,33.970001,34.259998,33.250000,34.180000,1729400,33.214693,ZTS
497,2013-03-08,34.029999,34.689999,33.799999,34.090000,1541100,33.127235,ZTS
498,2013-03-07,33.950001,34.680000,33.560001,34.560001,1320000,33.583962,ZTS
499,2013-03-06,34.340000,34.380001,33.849998,33.849998,802000,32.894011,ZTS
500,2013-03-05,34.410000,34.480000,33.750000,34.290001,1413400,33.321587,ZTS
501,2013-03-04,34.799999,34.889999,34.240002,34.349998,865400,33.379890,ZTS
502,2013-03-01,33.360001,34.700001,33.150002,34.599998,2334000,33.622830,ZTS
503,2013-02-28,32.560001,33.549999,32.560001,33.450001,2991400,32.505310,ZTS
504,2013-02-27,32.000000,33.049999,32.000000,32.320000,1343600,31.407222,ZTS
505,2013-02-26,32.049999,32.400002,31.990000,32.040001,1048700,31.135131,ZTS
506,2013-02-25,32.680000,32.689999,32.000000,32.070000,818900,31.164283,ZTS
507,2013-02-22,32.779999,32.930000,32.500000,32.590000,954500,31.669598,ZTS
508,2013-02-21,32.500000,32.799999,31.860001,32.560001,3242300,31.640446,ZTS
509,2013-02-20,33.840000,33.880001,32.599998,32.720001,1842900,31.795927,ZTS
510,2013-02-19,34.020000,34.070000,33.570000,33.840000,1206900,32.884295,ZTS
511,2013-02-15,33.310001,34.090000,33.000000,33.980000,5415400,33.020341,ZTS
512,2013-02-14,33.389999,33.450001,32.770000,33.270000,2954500,32.330393,ZTS
513,2013-02-13,33.799999,33.799999,33.000000,33.549999,1269700,32.602484,ZTS
514,2013-02-12,33.400002,34.000000,33.150002,33.740002,1637300,32.787121,ZTS
515,2013-02-11,33.060001,33.500000,32.880001,33.259998,1487200,32.320674,ZTS
516,2013-02-08,32.310001,33.480000,32.299999,33.049999,2599300,32.116605,ZTS
517,2013-02-07,31.000000,32.730000,31.000000,32.000000,3800800,31.096260,ZTS
518,2013-02-06,30.980000,31.430000,30.750000,31.030001,2126100,30.153655,ZTS
519,2013-02-05,31.250000,31.980000,30.850000,31.040001,5013200,30.163373,ZTS
520,2013-02-04,31.090000,31.990000,30.760000,31.020000,7695400,30.143938,ZTS
521,2013-02-01,31.500000,31.740000,30.469999,31.010000,66789100,30.134220,ZTS

In [ ]:
# byticker = df.groupby(df['ticker'])
# byticker

In [ ]:
# nums = byticker.loc[:,'Open':'Adj Close'].mean()

# nums

In [25]:
# 2. Find the top-5 and bottom-5 stocks in terms of their average Close price. Give tables 
# showing the stock ticker symbol and the average Close price. (Print out of a Series or 
# DataFrame is fine.)
closebyticker = df['Close'].groupby(df['ticker'])  # group by the ticker id & grab stock's close prices
sortedcbt = closebyticker.mean().sort_values()
print("The cheapest 5 stocks in terms of average Close price are", sortedcbt.head(5))
print("The top 5 stocks with the highest Close price are", sortedcbt.tail(5))
'''
#2
The cheapest 5 stocks in terms of average Close price are ticker
FTR      8.969515
F       11.174158
XRX     11.291864
ETFC    12.808103
HBAN    13.697483
Name: Close, dtype: float64

The top 5 stocks with the highest Close price are ticker
GS      139.146781
BLK     164.069088
AMZN    185.140534
AZO     235.951950
CME     253.956017
Name: Close, dtype: float64'''

The cheapest 5 stocks in terms of average Close price are ticker
FTR      8.969515
F       11.174158
XRX     11.291864
ETFC    12.808103
HBAN    13.697483
Name: Close, dtype: float64
The top 5 stocks with the highest Close price are ticker
GS      139.146781
BLK     164.069088
AMZN    185.140534
AZO     235.951950
CME     253.956017
Name: Close, dtype: float64

'\n#2\nThe cheapest 5 stocks in terms of average Close price are ticker\nFTR      8.969515\nF       11.174158\nXRX     11.291864\nETFC    12.808103\nHBAN    13.697483\nName: Close, dtype: float64\n\nThe top 5 stocks with the highest Close price are ticker\nGS      139.146781\nBLK     164.069088\nAMZN    185.140534\nAZO     235.951950\nCME     253.956017\nName: Close, dtype: float64'

In [26]:
# 3. Find the top-5 and bottom-5 stocks in terms of the day-to-day volatility of the price. 
# This is the standard deviation of the differences High - Low daily for each stock. (Use the 
# sample standard deviation.) Give tables for each, as in the previous problem.

df['diff'] = df['High'] - df['Low'] # compute difference between high and low prices and store in column
diffbyticker = df['diff'].groupby(df['ticker']) # grab differences in prices by ticker name
volatility = diffbyticker.std().sort_values()  # compute standard deviations by ticker and sort
print(volatility.head(5))  # subset and print lowest 5
print(volatility.tail(5))  # subset and print highest 5

'''
#3
ticker
FTR     0.141359
NWSA    0.174096
XRX     0.176320
F       0.194724
NI      0.195203
Name: diff, dtype: float64
ticker
BLK     3.716916
NFLX    4.283600
AZO     4.288179
AMZN    4.410448
CME     8.040071
Name: diff, dtype: float64
'''

ticker
FTR     0.141359
NWSA    0.174096
XRX     0.176320
F       0.194724
NI      0.195203
Name: diff, dtype: float64
ticker
BLK     3.716916
NFLX    4.283600
AZO     4.288179
AMZN    4.410448
CME     8.040071
Name: diff, dtype: float64

'\n#3\nticker\nFTR     0.141359\nNWSA    0.174096\nXRX     0.176320\nF       0.194724\nNI      0.195203\nName: diff, dtype: float64\nticker\nBLK     3.716916\nNFLX    4.283600\nAZO     4.288179\nAMZN    4.410448\nCME     8.040071\nName: diff, dtype: float64\n'

In [50]:
# 4. Repeat the previous problem, this time using the relative volatility, which is given by
df['openyclose'] = df['Open'] + df['Close']
df['calculation'] = ((df['diff'])/(0.5*df['openyclose']))
calculationbyticker = df['calculation'].groupby(df['ticker']) # grab differences in prices by ticker name
sortedbyrv = calculationbyticker.mean().sort_values()
print(sortedbyrv.head(5))
print(sortedbyrv.tail(5))
'''
#4
ticker
GIS    0.007912
WEC    0.009308
K      0.009378
CL     0.009520
ZTS    0.009861
Name: calculation, dtype: float64
ticker
AAL     0.043955
LVLT    0.045748
EQIX    0.053003
AIG     0.053350
GGP     0.065728
Name: calculation, dtype: float64
'''

ticker
GIS    0.013966
PG     0.014192
K      0.014992
CL     0.015521
WEC    0.015761
Name: calculation, dtype: float64
ticker
ETFC    0.045381
REGN    0.048172
EQIX    0.051295
LVLT    0.054870
AAL     0.055533
Name: calculation, dtype: float64

'\n#4\nticker\nGIS    0.007912\nWEC    0.009308\nK      0.009378\nCL     0.009520\nZTS    0.009861\nName: calculation, dtype: float64\nticker\nAAL     0.043955\nLVLT    0.045748\nEQIX    0.053003\nAIG     0.053350\nGGP     0.065728\nName: calculation, dtype: float64\n'

In [28]:
# 5. For each day the market was open in February 2010, find the average daily price for all 
# stocks for each of Open, High, Low, Close, and Volume.

df['date'] = pd.to_datetime(df['Date']) 
feb10 = df[(df['date'].dt.month == 2) & (df['date'].dt.year == 2010)]
feb10.loc[:,'Open':'Volume'].mean(axis=0)
'''
#5
Open      4.269530e+01
High      4.320367e+01
Low       4.220083e+01
Close     4.280406e+01
Volume    7.416517e+06
dtype: float64
'''

'\n#5\nOpen      4.269530e+01\nHigh      4.320367e+01\nLow       4.220083e+01\nClose     4.280406e+01\nVolume    7.416517e+06\ndtype: float64\n'

In [56]:
# 6. For 2012, find the date with the maximum average relative
# volatility for all stocks and the date with the minimum average 
# relative volatility for all stocks. (Consider only days when the 
# market is open.)

year2012 = df[(df['date'].dt.year == 2012)] # subset by year
year2012

,Date,Open,High,Low,Close,Volume,Adj Close,ticker,diff,openyclose,calculation,date
500,2012-12-31,8.520000,8.690000,8.480000,8.680000,19336100,8.342597,AA,0.210000,17.200000,0.024419,2012-12-31
501,2012-12-28,8.570000,8.600000,8.490000,8.500000,10049600,8.169594,AA,0.110000,17.070000,0.012888,2012-12-28
502,2012-12-27,8.750000,8.760000,8.530000,8.620000,16447000,8.284929,AA,0.230000,17.370000,0.026482,2012-12-27
503,2012-12-26,8.640000,8.800000,8.640000,8.730000,14435200,8.390653,AA,0.160000,17.370000,0.018423,2012-12-26
504,2012-12-24,8.530000,8.640000,8.520000,8.620000,8064200,8.284929,AA,0.120000,17.150000,0.013994,2012-12-24
505,2012-12-21,8.650000,8.660000,8.510000,8.570000,19066800,8.236872,AA,0.150000,17.220000,0.017422,2012-12-21
506,2012-12-20,8.630000,8.700000,8.600000,8.700000,14892000,8.361819,AA,0.100000,17.330000,0.011541,2012-12-20
507,2012-12-19,8.840000,8.850000,8.620000,8.640000,27418200,8.304152,AA,0.230000,17.480000,0.026316,2012-12-19
508,2012-12-18,8.750000,8.910000,8.750000,8.910000,18736200,8.563656,AA,0.160000,17.660000,0.018120,2012-12-18
509,2012-12-17,8.770000,8.790000,8.620000,8.750000,16364800,8.409876,AA,0.170000,17.520000,0.019406,2012-12-17
510,2012-12-14,8.600000,8.750000,8.590000,8.740000,13279800,8.400264,AA,0.160000,17.340000,0.018454,2012-12-14
511,2012-12-13,8.640000,8.710000,8.560000,8.590000,12192700,8.256095,AA,0.150000,17.230000,0.017411,2012-12-13
512,2012-12-12,8.710000,8.720000,8.610000,8.650000,14378400,8.313762,AA,0.110000,17.360000,0.012673,2012-12-12
513,2012-12-11,8.580000,8.720000,8.550000,8.680000,17204000,8.342597,AA,0.170000,17.260000,0.019699,2012-12-11
514,2012-12-10,8.460000,8.600000,8.460000,8.570000,11892800,8.236872,AA,0.140000,17.030000,0.016442,2012-12-10
515,2012-12-07,8.570000,8.590000,8.450000,8.500000,12167400,8.169594,AA,0.140000,17.070000,0.016403,2012-12-07
516,2012-12-06,8.560000,8.600000,8.480000,8.570000,11909100,8.236872,AA,0.120000,17.130000,0.014011,2012-12-06
517,2012-12-05,8.440000,8.620000,8.430000,8.570000,17286800,8.236872,AA,0.190000,17.010000,0.022340,2012-12-05
518,2012-12-04,8.370000,8.490000,8.350000,8.420000,11000600,8.092703,AA,0.140000,16.790000,0.016677,2012-12-04
519,2012-12-03,8.450000,8.450000,8.350000,8.410000,13646700,8.083092,AA,0.100000,16.860000,0.011862,2012-12-03
520,2012-11-30,8.410000,8.450000,8.320000,8.410000,12200900,8.083092,AA,0.130000,16.820000,0.015458,2012-11-30
521,2012-11-29,8.460000,8.500000,8.350000,8.400000,13496600,8.073480,AA,0.150000,16.860000,0.017794,2012-11-29
522,2012-11-28,8.210000,8.410000,8.160000,8.400000,17479800,8.073480,AA,0.250000,16.610000,0.030102,2012-11-28
523,2012-11-27,8.300000,8.420000,8.280000,8.280000,10803200,7.958145,AA,0.140000,16.580000,0.016888,2012-11-27
524,2012-11-26,8.330000,8.350000,8.250000,8.310000,11971600,7.986980,AA,0.100000,16.640000,0.012019,2012-11-26
525,2012-11-23,8.330000,8.350000,8.260000,8.350000,7821400,8.025425,AA,0.090000,16.680000,0.010791,2012-11-23
526,2012-11-21,8.270000,8.320000,8.220000,8.270000,8611000,7.948534,AA,0.100000,16.540000,0.012092,2012-11-21
527,2012-11-20,8.300000,8.310000,8.140000,8.250000,14130400,7.929311,AA,0.170000,16.550000,0.020544,2012-11-20
528,2012-11-19,8.270000,8.350000,8.210000,8.340000,14606500,8.015813,AA,0.140000,16.610000,0.016857,2012-11-19
529,2012-11-16,8.090000,8.200000,7.980000,8.180000,22913500,7.862033,AA,0.220000,16.270000,0.027044,2012-11-16
...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2012-02-15,18.469999,18.799999,18.450001,18.510000,3401000,18.053418,ZION,0.349998,36.979999,0.018929,2012-02-15
1092,2012-02-14,18.420000,18.490000,18.190001,18.420000,3026800,17.965638,ZION,0.299999,36.840000,0.016287,2012-02-14
1093,2012-02-13,18.600000,18.719999,18.389999,18.549999,2250800,18.092430,ZION,0.330000,37.149999,0.017766,2012-02-13
1094,2012-02-10,18.219999,18.450001,18.070000,18.370001,2350900,17.916872,ZION,0.380001,36.590000,0.020771,2012-02-10
1095,2012-02-09,18.650000,18.780001,18.360001,18.510000,3237900,18.053418,ZION,0.420000,37.160000,0.022605,2012-02-09
1096,2012-02-08,18.320000,18.660000,18.260000,18.570000,2794600,18.111937,ZION,0.400000,36.890000,0.021686,2012-02-08
1097,2012-02-06,17.950001,18.200001,17.879999,18.070000,2834700,17.624271,ZION,0.320002,36.020001,0.017768,2012-02-06
1098,2012-02-03,17.600000,18.139999,17.500000,18.030001,6616000,17.585259,ZION,0.639999,35.630001,0.035925,2012-02-03
1099,2012-02-02,17.080000,17.379999,16.799999,17.309999,3641700,16.883017,ZION,0.580000,34.389999,0.033731,2012-02-02
1100,2012-02-01,16.990000,17.209999,16.930000,17.020000,4672600,16.600172,ZION,0.279999,34.010000,0.016466,2012-02-01
1101,2012-01-31,16.850000,16.940001,16.600000,16.830000,3515900,16.414858,ZION,0.340001,33.680000,0.020190,2012-01-31
1102,2012-01-30,16.719999,16.850000,16.510000,16.709999,3272600,16.297817,ZION,0.340000,33.429998,0.020341,2012-01-30
1103,2012-01-27,16.469999,16.980000,16.400000,16.889999,3132500,16.473377,ZION,0.580000,33.359998,0.034772,2012-01-27
1104,2012-01-26,17.620001,17.690001,16.400000,16.580000,8957000,16.171025,ZION,1.290001,34.200001,0.075439,2012-01-26
1105,2012-01-25,17.070000,17.660000,17.000000,17.520000,5206500,17.087838,ZION,0.660000,34.590000,0.038161,2012-01-25
1106,2012-01-24,17.100000,17.549999,16.700001,17.150000,10054300,16.726964,ZION,0.849998,34.250000,0.049635,2012-01-24
1107,2012-01-23,18.850000,19.020000,18.459999,18.549999,3340700,18.092430,ZION,0.560001,37.399999,0.029947,2012-01-23
1108,2012-01-20,18.639999,18.900000,18.480000,18.850000,3026100,18.385031,ZION,0.420000,37.489999,0.022406,2012-01-20
1109,2012-01-19,18.990000,19.000000,18.559999,18.700001,3132900,18.238732,ZION,0.440001,37.690001,0.023348,2012-01-19
1110,2012-01-18,18.350000,18.990000,18.139999,18.790001,3065800,18.326512,ZION,0.850001,37.140001,0.045773,2012-01-18
1111,2012-01-17,18.650000,18.850000,18.299999,18.400000,2545600,17.946131,ZION,0.550001,37.050000,0.029690,2012-01-17
1112,2012-01-13,18.360001,18.559999,18.049999,18.500000,2305200,18.043664,ZION,0.510000,36.860001,0.027672,2012-01-13
1113,2012-01-12,18.500000,18.680000,18.129999,18.650000,3832200,18.189964,ZION,0.550001,37.150000,0.029610,2012-01-12
1114,2012-01-11,18.150000,18.510000,17.920000,18.500000,3112600,18.043664,ZION,0.590000,36.650000,0.032196,2012-01-11
1115,2012-01-10,18.190001,18.410000,18.010000,18.170000,3420500,17.721805,ZION,0.400000,36.360001,0.022002,2012-01-10
1116,2012-01-09,17.700001,17.969999,17.660000,17.879999,2078900,17.438957,ZION,0.309999,35.580000,0.017425,2012-01-09
1117,2012-01-06,17.680000,17.780001,17.230000,17.639999,2994800,17.204877,ZION,0.550001,35.319999,0.031144,2012-01-06
1118,2012-01-05,17.020000,17.879999,16.860001,17.620001,4965600,17.185372,ZION,1.019998,34.640001,0.058891,2012-01-05
1119,2012-01-04,16.680000,17.230000,16.549999,17.139999,3478800,16.717211,ZION,0.680001,33.819999,0.040213,2012-01-04
1120,2012-01-03,16.660000,17.350000,16.600000,16.770000,3442600,16.356338,ZION,0.750000,33.430000,0.044870,2012-01-03

In [77]:
sortRV = year2012.groupby(year2012['date']).mean() # subset the 2012 entries by date and calculate their means
RVbyDate = sortRV.sort_values(by='calculation')  # find the means of their relative volatilities and sort
print(RVbyDate.head(1))  # the lowest avg relative volatility
print(RVbyDate.tail(1))  # the highest avg relative volatility

'''
#6
The date with the maximum average relative volatility is 2012-12-24.  The date with the minimum average relative volatility is 2012-06-21. 
'''

                 Open       High        Low      Close        Volume  \
date
2012-12-24  57.438239  57.782324  57.006831  57.397887  2.094931e+06

            Adj Close      diff  openyclose  calculation
date
2012-12-24  49.291335  0.775493  114.836126     0.013579
                 Open       High        Low      Close        Volume  \
date
2012-06-21  54.322234  54.585177  52.853333  52.995142  7.028213e+06

            Adj Close      diff  openyclose  calculation
date
2012-06-21  44.305406  1.731844  107.317376     0.033606

'\n#6\nThe date with the maximum average relative volatility is 2012-12-24.  The date with the minimum average relative volatility is \n'

In [85]:
# 7. For 2008-2013, for each day of the week, find the average relative volatility for all stocks. 
# (Consider only days when the market is open.)

year0913 = df[(df['date'].dt.year <= 2013) & (df['date'].dt.year <= 2008)]
# year0913 = year0913.groupby(year0913['date']).mean() # subset 2008-2013 entries by date and calculate their means
# year0913 = year0913.sort_values(by='calculation') 
# print("The day of theyear0913.head(1)
# year

In [87]:
year0913.

,Date,Open,High,Low,Close,Volume,Adj Close,ticker,diff,openyclose,calculation,date
1492,2008-12-31,10.660000,11.460000,10.650000,11.260000,29560100,10.189335,AA,0.810000,21.920000,0.073905,2008-12-31
1493,2008-12-30,9.860000,10.700000,9.650000,10.690000,25456900,9.673533,AA,1.050000,20.550000,0.102190,2008-12-30
1494,2008-12-29,10.000000,10.250000,9.520000,9.730000,10085900,8.804815,AA,0.730000,19.730000,0.073999,2008-12-29
1495,2008-12-26,9.390000,9.840000,9.300000,9.780000,7650400,8.850061,AA,0.540000,19.170000,0.056338,2008-12-26
1496,2008-12-24,9.640000,9.660000,9.310000,9.390000,4550000,8.497145,AA,0.350000,19.030000,0.036784,2008-12-24
1497,2008-12-23,9.400000,9.770000,9.260000,9.570000,16502000,8.660029,AA,0.510000,18.970000,0.053769,2008-12-23
1498,2008-12-22,9.900000,9.990000,8.950000,9.230000,22861700,8.352358,AA,1.040000,19.130000,0.108730,2008-12-22
1499,2008-12-19,10.040000,10.130000,9.610000,9.700000,29015600,8.777668,AA,0.520000,19.740000,0.052685,2008-12-19
1500,2008-12-18,10.560000,10.570000,9.720000,9.770000,23334600,8.841013,AA,0.850000,20.330000,0.083620,2008-12-18
1501,2008-12-17,10.160000,10.920000,10.080000,10.350000,23803800,9.365863,AA,0.840000,20.510000,0.081911,2008-12-17
1502,2008-12-16,10.070000,10.400000,9.820000,10.390000,19698500,9.402059,AA,0.580000,20.460000,0.056696,2008-12-16
1503,2008-12-15,10.230000,10.500000,9.760000,9.910000,18700000,8.967700,AA,0.740000,20.140000,0.073486,2008-12-15
1504,2008-12-12,9.370000,10.140000,9.250000,10.080000,27403600,9.121536,AA,0.890000,19.450000,0.091517,2008-12-12
1505,2008-12-11,10.060000,10.580000,9.730000,9.980000,24013500,9.031044,AA,0.850000,20.040000,0.084830,2008-12-11
1506,2008-12-10,10.100000,10.300000,9.910000,10.200000,22589500,9.230125,AA,0.390000,20.300000,0.038424,2008-12-10
1507,2008-12-09,9.540000,10.280000,9.220000,9.550000,29108300,8.641931,AA,1.060000,19.090000,0.111053,2008-12-09
1508,2008-12-08,8.810000,9.770000,8.750000,9.580000,38981800,8.669079,AA,1.020000,18.390000,0.110930,2008-12-08
1509,2008-12-05,8.110000,8.260000,7.460000,8.150000,50684700,7.375051,AA,0.800000,16.260000,0.098401,2008-12-05
1510,2008-12-04,9.170000,9.170000,7.930000,8.060000,35759300,7.293609,AA,1.240000,17.230000,0.143935,2008-12-04
1511,2008-12-03,9.030000,9.410000,8.630000,9.290000,25642900,8.406653,AA,0.780000,18.320000,0.085153,2008-12-03
1512,2008-12-02,9.750000,10.010000,9.370000,9.760000,21725600,8.831963,AA,0.640000,19.510000,0.065607,2008-12-02
1513,2008-12-01,10.180000,10.420000,9.260000,9.310000,23760300,8.424752,AA,1.160000,19.490000,0.119035,2008-12-01
1514,2008-11-28,10.400000,10.800000,9.970000,10.760000,12408400,9.736878,AA,0.830000,21.160000,0.078450,2008-11-28
1515,2008-11-26,9.480000,10.520000,9.240000,10.480000,18441300,9.483501,AA,1.280000,19.960000,0.128257,2008-11-26
1516,2008-11-25,9.560000,9.850000,9.040000,9.700000,26161400,8.777668,AA,0.810000,19.260000,0.084112,2008-11-25
1517,2008-11-24,9.000000,9.340000,8.600000,9.150000,34169300,8.279965,AA,0.740000,18.150000,0.081543,2008-11-24
1518,2008-11-21,7.610000,8.500000,7.270000,8.440000,48341500,7.637476,AA,1.230000,16.050000,0.153271,2008-11-21
1519,2008-11-20,8.070000,8.120000,6.800000,6.850000,51029500,6.198663,AA,1.320000,14.920000,0.176944,2008-11-20
1520,2008-11-19,9.350000,9.370000,8.110000,8.160000,33912000,7.384100,AA,1.260000,17.510000,0.143918,2008-11-19
1521,2008-11-18,9.920000,9.980000,9.250000,9.480000,23024200,8.578587,AA,0.730000,19.400000,0.075258,2008-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...
3471,2002-07-16,48.799999,50.500000,48.240002,48.990002,593100,40.473455,ZION,2.259998,97.790001,0.046221,2002-07-16
3472,2002-07-15,49.240002,49.349998,46.900002,48.810001,849500,40.324746,ZION,2.449996,98.050003,0.049974,2002-07-15
3473,2002-07-12,50.040001,50.619999,48.730000,49.459999,513900,40.861747,ZION,1.889999,99.500000,0.037990,2002-07-12
3474,2002-07-11,49.750000,50.369999,48.830002,49.869999,675400,41.200471,ZION,1.539997,99.619999,0.030917,2002-07-11
3475,2002-07-10,50.950001,51.080002,49.349998,49.840000,449200,41.175687,ZION,1.730004,100.790001,0.034329,2002-07-10
3476,2002-07-09,51.790001,52.610001,50.790001,50.790001,465100,41.960538,ZION,1.820000,102.580002,0.035484,2002-07-09
3477,2002-07-08,52.259998,52.500000,51.709999,51.810001,392500,42.803219,ZION,0.790001,104.069999,0.015182,2002-07-08
3478,2002-07-05,50.410000,52.430000,50.410000,52.310001,337000,43.216297,ZION,2.020000,102.720001,0.039330,2002-07-05
3479,2002-07-03,51.020000,51.110001,49.709999,50.320000,624000,41.572243,ZION,1.400002,101.340000,0.027630,2002-07-03
3480,2002-07-02,51.900002,52.349998,51.119999,51.320000,500500,42.398400,ZION,1.229999,103.220002,0.023833,2002-07-02
3481,2002-07-01,52.119999,52.750000,51.610001,51.930000,809800,42.902357,ZION,1.139999,104.049999,0.021913,2002-07-01
3482,2002-06-28,51.500000,52.549999,51.450001,52.099998,796100,43.042802,ZION,1.099998,103.599998,0.021235,2002-06-28
3483,2002-06-27,50.049999,51.490002,50.049999,51.369999,1288400,42.439707,ZION,1.440003,101.419998,0.028397,2002-06-27
3484,2002-06-26,50.900002,50.900002,49.540001,50.310001,923600,41.563982,ZION,1.360001,101.210003,0.026875,2002-06-26
3485,2002-06-25,52.209999,52.400002,50.930000,51.009998,801000,42.142290,ZION,1.470002,103.219997,0.028483,2002-06-25
3486,2002-06-24,52.590000,52.650002,51.130001,52.070000,523100,43.018018,ZION,1.520001,104.660000,0.029046,2002-06-24
3487,2002-06-21,51.880001,53.029999,51.880001,52.779999,579400,43.604589,ZION,1.149998,104.660000,0.021976,2002-06-21
3488,2002-06-20,53.580002,53.639999,52.439999,52.709999,314600,43.546758,ZION,1.200000,106.290001,0.022580,2002-06-20
3489,2002-06-19,53.970001,54.270000,53.450001,53.689999,274100,44.356392,ZION,0.819999,107.660000,0.015233,2002-06-19
3490,2002-06-18,54.099998,54.259998,53.750000,54.000000,240700,44.612502,ZION,0.509998,108.099998,0.009436,2002-06-18
3491,2002-06-17,52.029999,54.320000,51.750000,54.279999,574300,44.843825,ZION,2.570000,106.309998,0.048349,2002-06-17
3492,2002-06-14,51.540001,52.020000,50.669998,51.849998,467700,42.836263,ZION,1.350002,103.389999,0.026115,2002-06-14
3493,2002-06-13,52.160000,52.290001,51.580002,51.639999,243900,42.662770,ZION,0.709999,103.799999,0.013680,2002-06-13
3494,2002-06-12,52.599998,52.820000,51.669998,52.270000,494600,43.183250,ZION,1.150002,104.869998,0.021932,2002-06-12
3495,2002-06-11,53.209999,54.080002,52.450001,52.509998,359100,43.381526,ZION,1.630001,105.719997,0.030836,2002-06-11
3496,2002-06-10,53.590000,53.660000,52.419998,53.250000,655200,43.992884,ZION,1.240002,106.840000,0.023212,2002-06-10
3497,2002-06-06,53.799999,54.240002,53.330002,53.380001,334400,44.100286,ZION,0.910000,107.180000,0.016981,2002-06-06
3498,2002-06-05,53.669998,54.250000,53.549999,53.840000,333700,44.480317,ZION,0.700001,107.509998,0.013022,2002-06-05
3499,2002-06-04,54.529999,54.599998,53.299999,53.650002,848000,44.323348,ZION,1.299999,108.180001,0.024034,2002-06-04
3500,2002-06-03,55.209999,55.270000,54.360001,54.360001,376300,44.909920,ZION,0.909999,109.570000,0.016610,2002-06-03